:root {
  --lh: 1.6;
  --hlh: 1.2;
  --gap: 1rlh;
  --hgap: calc(var(--gap) / 2);

  --black: #121212;
  --darkGrey: #555;
  --lightGrey: #eee;
  --white: #fefefe;

  --brand: hsl(205, 76%, 45%);

  --secondary: oklch(from var(--brand) l c calc(h + 60));

  --secondaryTint: color-mix(in oklch, var(--secondary), #fff 50%);
  --secondaryShade: color-mix(in oklch, var(--secondary), #000 50%);
  --secondaryShadeMuted: oklch(from var(--secondaryShade) l 0.05 h);
  --secondaryTintMuted: oklch(from var(--secondaryTint) l 0.025 h);
  --bgLight: color-mix(in oklch, var(--secondaryTintMuted), #fff 25%);
  --bgDark: color-mix(in oklch, var(--secondaryShadeMuted), #000 25%);

  --base: light-dark(var(--black), var(--white));
  --bg: light-dark(var(--bgLight), var(--bgDark));
  --surface: light-dark(var(--secondaryTint), var(--secondaryShade));
  --surface2: light-dark(var(--secondaryTintMuted), var(--secondaryShadeMuted));

  --hightlight: light-dark(
    oklch(from var(--brand) 0.25 c h),
    oklch(from var(--brand) 0.75 c h)
  );

  --border: 1px solid var(--hightlight);
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: var(--lh);
  color: var(--base);
  background-color: var(--bg);
  color-scheme: light dark;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: var(--hlh);
}
a {
  color: var(--hightlight);
}

/* SHARED */
// Hide nav controls by default

/* #nav-toggle-open,
#nav-toggle-close {
  display: none;
} */
#back,
#nav-toggle-open {
  background: none;
  border: none;
  padding: 0;
}
[inert] {
  filter: grayscale(1) brightness(0.5);
  transition: all 0.1s ease-in 0s;
  z-index: 1;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--surface2);
}
.nav-list__item {
  display: flex;
  list-style: none;
  padding: 0;
  border-block-end: var(--border);

  a {
    flex-grow: 1;
    text-decoration: none;
    padding: var(--hgap);
  }
}
#back {
  visibility: hidden;
  /* opacity: 0; */
  transition: opacity 0.25s ease-out;
}
.details {
  visibility: hidden;
  display: none;
}
.nav-list.top-level {
  position: relative;
  > li > a {
    transform: translateX(0px);
    opacity: 1;
    width: auto;
  }
}

.gradiated .nav-list > li > a {
  background-color: light-dark(
    oklch(
      from var(--secondaryTintMuted)
        calc(l + calc(var(--index) * 0.025 + 0.025)) c h
    ),
    oklch(
      from var(--secondaryShadeMuted)
        calc(l - calc(var(--index) * 0.025 - 0.025)) c h
    )
  );
}
.subnav {
  position: absolute;
  inset: 0;
  visibility: hidden;
}
.subnav__title {
  min-height: var(--gap);
}

[aria-selected="true"] > .subnav {
  visibility: visible;

  > .nav-list {
    transform: translateX(0px);
  }
}
/* END SHARED */

/* SMALL */
@media (max-width: 800px) {
  #nav-toggle-open,
  #nav-toggle-close {
    display: flex;
  }

  #nav-container {
    display: grid;
    grid-template-columns: minmax(3rem, 8rem) 1fr;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    inset-block-start: 5rem;
    inset-inline-end: 0;
    transform: translateX(100vw);
    transition: transform 0.125s ease-out, visibility 0s linear 0.125s;
    will-change: transform;
    visibility: hidden;
    z-index: 50;
  }
  #nav-toggle-open[aria-expanded="true"] + #nav-container {
    transform: translateX(0px);
    transition: transform 0.125s ease-in;
    visibility: visible;
  }
  nav {
    background-color: var(--surface2);
    overflow: clip;
  }
  #nav:has(li[aria-selected="true"]) {
    .top-level {
      visibility: hidden;
    }

    #back {
      visibility: visible;
      opacity: 1;
    }
  }
  .nav-list {
    > li > a {
      min-width: 16em;
      transform: translateX(4rem);
      opacity: 0;
      transition: transform 0.125s ease, opacity 0.125s ease;
      transition-delay: calc(0.0333s * var(--index));
      &[aria-expanded="true"] + .subnav > .nav-list > li > a {
        transform: translateX(0px);
        opacity: 1;
      }
    }
    /* &[aria-selected="true"] > a {
              transform: translateX(0px);
        opacity: 1;
    } */
  }
  .details {
    display: flex;
    visibility: visible;
    border-bottom: var(--border);
    padding: var(--hgap);
    justify-content: space-between;
    align-items: center;
  }
}
/* END SMALL */

/* BIG */
@media (min-width: 800px) {
  #nav-toggle-open,
  #nav-toggle-close,
  #back,
  #subnav-toggle-close {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  #nav-container {
    &:has(li[aria-selected="true"]) {
      #subnav-toggle-close {
        display: flex;
        visibility: visible;
        position: absolute;
        inset: 0;
      }
    }
  }
  nav {
    overflow-x: clip;
  }
  .nav-list {
    display: grid;
    > li > a {
      transform: translateY(4rem);
      opacity: 0;
      transition: transform 0.125s ease, opacity 0.125s ease;
      transition-delay: calc(0.0333s * var(--index));

      &[aria-expanded="true"] + .subnav > .nav-list > li > a {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }
  .nav-list__item {
    position: relative;
  }
  .nav-list.top-level {
    display: flex;
    flex-direction: row;
    visibility: visible;
    & > li > .subnav {
      inset: 100% auto auto auto;
    }
  }

  .nav-list:has(li[aria-selected="true"]) {
    > li > a {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .subnav {
    inset: 0 auto auto 100%;
    min-width: 16em;
    &:has(li[aria-selected="true"]) {
      visibility: visible;
    }
  }
}
/* END BIG */
