---
import Layout from "../layouts/LayoutSolidNav.astro";
---

<Layout title="Accessible Navigation Component">
  <main id="main">
    <h1>Accessible Navigation Component</h1>
    <p>
      This component is a minimal starting point for an accessible mobile flyout
      menu.
    </p>
    <h2>Key features:</h2>
    <ul>
      <li>Semantic elements and aria attributes</li>
      <li>Infinite nesting of sub-menus</li>
      <li>Logical focus trapping</li>
      <li>Excape key closes the menu</li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
  }
</style>
