---
import { SolidNav } from "@components/solidjs/Nav";
import { headerData } from "@components/data/navitems.ts";
interface Props {
  title: string;
}

const { title } = Astro.props;
const navitems = headerData.links;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <SolidNav items={navitems} client:load />
    </header>
    <slot />
  </body>
</html>
